@charset "utf-8";
body{
   margin: 0;
   background-color: black;
   color: white;
   font-family: "Source Sans Pro";
}
h1{
   padding: 15px;
   margin: 0;
}
h3{
   font-weight: normal;
   padding: 10px 10px;
}
div{
   display: flex;
   flex-wrap: wrap;
}
.box{
}
.section{
   font-size:25px;
}
.menu{
   border-bottom: 1px solid red;
}
.menu ul{
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
   justify-content: space-evenly;
}
.menu ul li{
   display: flex;
   padding: 10px 20px;
   font-size: 20px;
   border: 1px solid red;
   border-radius: 15px 15px 0 0;
}